.whl-form-00{
  background-color:#054f4f4f;
  border-radius:15px;
}
/* .form-desc-child-0{
background: rgb(21 74 151 / 76%);
} */
.form-desc-child-1{
background:#e9ecef4d;
border-radius:10px;
}
.form-input-box{
    padding: 11px 0px;
    border-radius: 30px;
    background: #202c2c9e;
    border: none;
}
.whl-form-top{
  background-color: darkcyan;
}
.submit-btn{
  width:200px;
  height:50px;
  border-radius:25px;
  color:white;
  font-weight: bold;
  background:#fcfffc2e;
  border:none;
  font-size: 20px;
  text-transform:uppercase;
}
.right-arr{
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: white;
}
